<launch>
    <machine name="jetson" address="192.168.0.1" timeout="10" env-loader="/home/jetson/jetson_dual_camera/src/jetson_dual_camera/remote_start_scripts/env_nano.sh" default="never" user="jetson" password="jetson" />

    <node machine="jetson" pkg="jetson_dual_camera" type="csi_camera" name="csi_camera_0">
        <rosparam command="load" file="$(find jetson_dual_camera)/config/camera_0_parameters.yaml" />
    </node>

    <node machine="jetson" pkg="jetson_dual_camera" type="csi_camera" name="csi_camera_1">
        <rosparam command="load" file="$(find jetson_dual_camera)/config/camera_1_parameters.yaml" />
    </node>
    
</launch>
