<launch>

  <arg name="bag"/>
  <rosparam command="load" file="$(find jetson_dual_camera)/config/video_creator.yaml" />
  <node pkg="rosbag" type="play" name="rosbag_player" args="--clock --queue 1 $(arg bag) "/>

</launch>

<!-- Example usage
  roslaunch jetson_dual_camera video_creator.launch bag:=/home/jetson/____/____.bag
 -->